.about {
    background-color: #191919;
}

img.about__img {
    border-radius: 10px;
    width: 100%;
}

h1.about__heading {
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: 60px;
}

button.about.btn.pointer {
    text-transform: capitalize;
    width: 195px;
    height: 55px;
    font-size: 18px;
    transition: .4 ease;
}

.about__button {
    padding: 20px 0px;
}


a.bottom__to__top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    background: #38d16a;
    border-radius: 50%;
    cursor: pointer;
    align-content: center;
    display: none;
    justify-content: center;
    transition: .4s ease;
    z-index: 1000;
}

a.bottom__to__top.active {
    display: flex;
}
.skill h1{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.iconos__skill{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
    
    
}

.iconos__skill .img{

margin: 10px;
padding: 30px;

}

.iconos__skill img {
    background-color: rgba(36, 36, 36, 0.04);
    padding: 20px 10px;
    width: 9rem;
    border-radius: 10px ;   
}

.iconos__skill img:hover{
    background-image: linear-gradient(90deg, #38d16a, #10b5f69f);
}

.iconos__skill p{
 color: rgba(198, 201, 216, .75);
 font-size: 20px;
 text-align: center;
 padding-top: 15px;
 
}



@media only screen and (max-width: 768px) {
    button.about.btn.pointer {
        text-transform: capitalize;
        width: 165px;
        height: 50px;
        font-size: 13px;
        transition: .4s ease;
    }
}


@media only screen and (max-width: 425px) {
    img.about__img {
        display: none;
        
    }

    .col__2{
        margin-top: 20px;
    }

}




